
@import '../../../styles/variables';

.container{
    height: auto;
    max-width: 100%;
    flex: 1; // 꽉채움.
    
    box-sizing: border-box;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap:15px; //20px;
    
    box-sizing: border-box;
    // margin-bottom: 15px;
    // overflow-y: hidden;


    // 그리드 아이템
    .item{
        width: 100%;
        height: 100%;
        flex: 1;
        position: relative;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        box-sizing: border-box;

        background-color:  $pannel_inner_background;
        border-radius: 0.625rem;
        max-height: 100%;
    }

}