
@import '../../../styles/variables';

.container{
    max-height: 100%;
    max-width: 100%;
    flex: 1; // 꽉채움.
    display: grid;
    
    box-sizing: border-box;
    // padding-bottom: 1.25rem;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    row-gap: 1.25rem; //20px;
    
    box-sizing: border-box;

    // overflow-y: hidden;


    // 그리드 아이템
    .item{
        position: relative;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        box-sizing: border-box;

        background-color:  $pannel_inner_background;
        border-radius: 0.625rem;
        

        
        
        // 차트 제목
        .chart_title{
            text-align: center;
            margin: 0px;
            padding: 0px;

            position: absolute;
            bottom: 10px;
            
            box-sizing: border-box;
            // padding-bottom: 5px;
            font-size: 0.9375rem; // 15px
            color: #5C5C5C;
            
            height: auto;
        }
    }

}