@import "../../styles/variables";
@import "../../styles/mixins";



// *대시보드 메인 grid conatiner
.dashboard_grid_container{
    flex:1;
    display: grid;
    box-sizing: border-box;
    max-height: 980px; // todo 다시 넣어야 할 수도 있다 (새로길이를 길게 제작) (원래는 980px)
    width: 100%;

    //6x6 그리드 선언
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1.875rem; //30px

    //영역 나누기.
    grid-template-areas: 
        "value1_1 e2_nodes e2_nodes etri_ric"
        "value1_1 e2_nodes e2_nodes etri_ric"
        "value1_1 e2_nodes e2_nodes etri_ric"
        "value1_2 value1_2 value1_2 value3"
        "value2 value2 value2 value4"
        "value5 value5 value5 value6";

    //* 그리드 영역 내 아이템 특징
    .item {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        box-sizing: border-box;
        padding: 0.625rem; //10px
        
        border: 0px;
        border-radius: 10px;
        background-color:  $pannel_background;
        box-shadow: $custom-shadow;

        
        
        // 각 패널 제목
        .item_title{
            font-size: 1.25rem; //20px
            margin: 0px;
        }
        // 타이틀 hr
        hr{
            @include pannel_hr;
        }

        // 각 패널 내용 컨테이너
        .item_contents{
            //남은 부분을 모두 차지하도록 진행.
            flex:1;
        }
    }

    .value1_1 { 
        grid-area: value1_1;
        position: relative;

    }
        
    .e2_nodes { 
        grid-area: e2_nodes;
    }
    .etri_ric { 
        grid-area: etri_ric;
        // min-height: 504px;
    }
    .value1_2 { 
        // max-height: 130px;
        grid-area: value1_2;
        
    }
    .value2   { 
        // max-height: 130px;
        grid-area: value2;
    }
    .value3   { 
        //max-height: 130px;
        
        grid-area: value3;
        background-color: #59A5F5; color: #FFFFFF;}
    .value4   { 
        //max-height: 130px;
        grid-area: value4;
        background-color: #59A5F5; color: #FFFFFF;}
    .value5   { 
        //max-height: 130px;
        grid-area: value5;
    }
    .value6   { 
        grid-area: value6;
        background-color: #59A5F5; color: #FFFFFF;}


}