@import "../../../styles/mixins";
@import "../../../styles/variables";
.container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  // padding: 10px;

  width: 150px;
  height: 38px;
  font-size: 12px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 3px;
  text-align: center;
  position: relative;

  box-shadow: $custom-shadow;

  //* 보더 그라데이션 넣기
  border: 3px solid transparent;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  // padding 만큼 그라데이션이 추가된다.

  .contents_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    column-gap: 10px;

    box-sizing: border-box;
    padding: 0px 10px; // 가로 너비 키워주기

    .description {
      flex: 2;
    }
  }

  //* 점들
  .handle {
    background-color: #ffffff;
    //* 보더 그라데이션 넣기
    border: 3px solid transparent;
    background-image: linear-gradient(#fff, #fff),
      linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;

    position: absolute; // * 선 삐뚤빼뚤 해지는 부분 없애기.
    border-radius: 100%;
  }
}
