
// 프리텐다드
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

.screen{
    box-sizing: border-box;
    margin: 0px;
    
    height: calc(var(--vh,1vh)*100); // var() : Css변수를 가져오고, 값이 없을경우 기본값으로 1vh를 사용.

    // min-width: 1920px;
    // min-height: 960px;
    
    min-height: 1024px;
    max-height: 1080px;
    
    min-width: 1440px;
    max-width: 1920px;
    

    font-family: "Pretendard Variable",Pretendard;
    position: relative;

    // 가운대 정렬
    display: flex;
    justify-content: center; // 가로 = 가운대정렬
    
    background-color: antiquewhite;



}